@font-face {
  font-family: 'iconfont';  /* project id 1274115 */
  src: url('//at.alicdn.com/t/font_1274115_wzymv0btiz.eot');
  src: url('//at.alicdn.com/t/font_1274115_wzymv0btiz.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1274115_wzymv0btiz.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1274115_wzymv0btiz.woff') format('woff'),
  url('//at.alicdn.com/t/font_1274115_wzymv0btiz.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1274115_wzymv0btiz.svg#iconfont') format('svg');
}
[class^="icon-"], [class*=" icon-"] {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}


.icon-set:before {
  content: "\e6a0";
}
.icon-messages-set:before {
  content: "\e708";
}
.icon-editor:before{
  content: "\e6fd";
}
.icon-arrow-left:before{
  content: "\e610";
}
.icon-down:before{
  content: "\e600";
}
.icon-delete:before{
  content: "\e606";
}
.icon-tag:before{
  content: "\e654";
}
.icon-sheet:before{
  content: "\e75d";
}
.icon-comments:before{
  content: "\e637";
}
.icon-praise:before{
  content: "\e613";
}
.icon-modify:before{
  content: "\e603";
}
.icon-phone:before{
  content: "\e63b";
}
.icon-nick-name:before{
  content: "\e67e";
}
.icon-name:before{
  content: "\e608";
}
.icon-email:before{
  content: "\e7f1";
}
.icon-weixin:before{
  content: "\e748";
}
.icon-professional:before{
  content: "\e615";
}
.icon-arrow-right:before{
  content: "\e61b";
}
.icon-play:before{
  content: "\e6de";
}
.icon-suspend:before{
  content: "\e638";
}
.icon-xiala:before{
  content:"\e6a5"
}
.icon-address:before{
  content:"\e644"
}
.icon-order:before{
  content:"\e614"
}
.icon-share:before{
  content:"\e60f"
}
.icon-suggest:before{
  content:"\e60c"
}
.icon-about:before{
  content:"\e67c"
}
.icon-tongji:before{
  content:"\e619"
}
.icon-dadui:before{
  content:"\e69e"
}
.icon-dacuo:before{
  content:"\e64a"
}
.icon-weizuoda:before{
  content:"\e6b1"
}
.icon-test-page:before{
  content:"\e611"
}
.icon-test-page1:before{
  content:"\e61e"
}
.icon-test-do:before{
  content:"\e62a"
}

.icon-testPager-comment:before{
  content:"\e629"
}
.icon-testPager-collent:before{
  content:"\e6a8"
}
.icon-testPager-answer-show:before{
  content:"\e656"
}
.icon-testPager-answer-hide:before{
  content:"\e653"
}
.icon-testPager-answer-dtk:before{
  content:"\e662"
}

.icon-testPager-answer-mark:before{
  content:"\e728"
}

.icon-photo:before{
  content:"\e612"
}

.icon-image-delete:before{
  content:"\e632"
}
.icon-zan:before{
  content:"\e63c"
}
